* {
  font-family: "Barlow", sans-serif;
}

.container {
  width: 40%;
  margin: auto;
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgba(254, 227, 216, 255);
}

h3 {
  margin-top: 10px;
}

p {
  font-weight: 100px;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 20px 40px;
}

th {
  font-weight: bold;
}

td {
  font-weight: lighter;
}

button {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 13px 30px;
  background-color: rgb(191, 238, 98);
  color: rgb(20, 2, 2);
  border-radius: 12px;
  font-size: larger;
  font-weight: bold;
  border-style: none;
}
